[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "*"
psycopg2-binary = "*"
djangorestframework = "*"
django-filter = "*"
drf-yasg = "*"
django-redis = "*"
django_celery_beat = "*"
django-jazzmin = "*"
requests = "*"
celery = "*"
kombu = "*"

[requires]
python_version = "3.10"
